.movieCastWrap {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    gap: 30px;
    list-style: none;
    justify-content: center;
    align-items: center;

}

.castContainer {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.castNoticeWrap {
    font-size: 20px;
        margin: 30px 40px;
        color: rgb(102, 21, 177);
}